*{
    margin: 0;
    padding: 0;
}
/* NavBar */
#navbar {
	overflow: hidden;
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: rgb(13, 13, 194);
  }

#navbar div {
	margin-right: 4rem;
}  
  
  /* Navbar links */
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  /* Page content */
  .content {
	padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 60px;
  }
/* Primera decoración */
.flexDeco{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 136, 136);
}
#textDeco{
    margin: 1rem 5rem 0rem 0rem;
    font-size: 3rem;
    text-align: center;
}
/* --- --- CAROUSEL --- --- */
.contenedor {
	max-width: 750px;
	width: 90%;
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 15px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: gray;
	opacity: 100%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

/* @media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
} */

/* ----- Catalogo ----- */
.cc{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10rem;
	margin-bottom: 5rem;
	gap: 40px;
}

.card-marca{
	margin-top: -1rem;
}

.ccElement{
	border: 1px solid black;
	margin: 0rem 2rem;
	padding: 2rem;
}
.catImg{
	width: 200px;
	object-fit: cover;
	margin-bottom: 3rem;
}
.comprado{
	margin-top: 1.5rem;
}
.btn-finalizarFlex{
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
	font-size: 3rem;
}
#btn-finalizar{
	padding: 2rem;
}